 .fakeimg {
    height: 200px;
    background: #aaa;
  }
  .carousel-inner img {
  	margin-left: 22%;
      width: 60%;
      height: 100%;
  }
  #demo,.content{
  	background-color: #e9ecef;
  }
  .lrcontrols{
  	margin: auto;
  }
  .nav1{
  	margin-left: 20%;
  }
  .pad1{
  	padding-left: 30px;
  }
  .img1{
  	margin-left: 15%;
  }
  .footer{
  	height: 30%;
  }


 
.img5{
      margin-bottom: 22%;
      margin-left: 64%;
}
.img6{
    margin-top: -25%;
    margin-left: 64%;
}
.ima{
      margin-top: -41%;
}

.book{
  float: right;
  padding-left: 30%;
}